    <aside class="sidebar">
      <div class="brand"><p>Jin Lee</p><span>Portfolio</span></div>
      <nav>
        <a href="index.html">Home</a>
        <a href="index.html#projects">Projects</a>
        <a href="index.html#about">About</a>
      </nav>
      <div class="sidebar-extras">
        <p>Contact</p>
        <a href="mailto:jinlee2@andrew.cmu.edu">jinlee2@andrew.cmu.edu</a>
        <a href="https://www.linkedin.com/in/jinlee" target="_blank">LinkedIn</a>
        <a href="https://github.com/jin1906" target="_blank">GitHub</a>
      </div>
    </aside>
